<?xml version="1.0" encoding="utf-8"?>
<manifest package="org.mesba.android.ui"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".nav_view.NavigationActivity"
            android:label="@string/title_activity_navigation"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.mesba.android.ui.MainActivity"/>
        </activity>
        <activity
            android:name=".scrolling_view.ScrollingActivity"
            android:label="@string/title_activity_scrolling"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.mesba.android.ui.MainActivity"/>
        </activity>
        <activity
            android:name=".master_detail.ProfileListActivity"
            android:label="@string/title_profile_list"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.mesba.android.ui.MainActivity"/>
        </activity>
        <activity
            android:name=".master_detail.ProfileDetailActivity"
            android:label="@string/title_profile_detail"
            android:parentActivityName=".master_detail.ProfileListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.mesba.android.ui.master_detail.ProfileListActivity"/>
        </activity>
    </application>

</manifest>
